main{
    margin: 150px;
}
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
#hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
#hero input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-left: 1.3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
/* @media only screen and (max-width: 600px) {
    #hero{
        background-color: #ffffff;
    }
} */

#how-it-works #video{
   position: relative;
  left: 38%;
 /*  margin-left: -50px; */
}
.nav-item  li{
    padding-right: 20px;
}
@media (min-width: 576px){
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 8.5rem;
    padding-left: .5rem;

}
}
.navbar-expand-sm .navbar-nav .nav-link, .navbar-expand-sm .navbar-nav .nav-link:hover{
    color: #000000;
}
#features {
    margin-top: 30px;
}
#features .grid{
    display: flex;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
#features .desc  h2{
    font-size: 22px;
    font-weight: bold;
}
#pricing{
    padding-top: 30px;
}